<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Binary Location</key>
	<array>
		<string>sshfs-static</string>
		<string>/opt/local/bin/sshfs</string>
		<string>/usr/bin/sshfs</string>
	</array>
	<key>Description</key>
	<dict>
		<key>Description</key>
		<string>This is some really long description of SSHFS.</string>
		<key>LongName</key>
		<string>Secure Shell File System</string>
		<key>ShortName</key>
		<string>sshfs</string>
	</dict>
	<key>InputFormat</key>
	<string>[user]@[host]:[dir] [mountpoint] [options]</string>
	<key>Parameters</key>
	<dict>
		<key>Directory</key>
		<dict>
			<key>Default Value</key>
			<string></string>
			<key>Description</key>
			<string>The location (directory path) on the remote computer you are interested in accessing.</string>
		</dict>
		<key>Host</key>
		<dict>
			<key>Default Value</key>
			<string></string>
			<key>Description</key>
			<string>The address (name or IP) of the computer you are connecting to.</string>
			<key>Token</key>
			<string>host</string>
		</dict>
		<key>Port</key>
		<dict>
			<key>Default Value</key>
			<string>22</string>
			<key>Description</key>
			<string>The port on which you want to connect to the remote server</string>
			<key>ShortPrefix</key>
			<string>p</string>
			<key>Type</key>
			<string>Integer</string>
		</dict>
		<key>User</key>
		<dict>
			<key>Default Value</key>
			<string>$USERNAME$</string>
			<key>Description</key>
			<string></string>
			<key>Token</key>
			<string>user</string>
			<key>Type</key>
			<string>String</string>
		</dict>
	</dict>
</dict>
</plist>
