<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.mgorbach.macfusion2.sshfs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MFFSDelegateClassName</key>
	<string>SSHFSDelegate</string>
	<key>MFPluginClass</key>
	<string>SSHPlugin</string>
	<key>MFPluginLongName</key>
	<string>Secure Shell Filesystem</string>
	<key>MFPluginNibName</key>
	<string>sshfsConfiguration</string>
	<key>MFPluginPlist</key>
	<string>sshfs.plist</string>
	<key>MFPluginShortName</key>
	<string>SSHFS</string>
</dict>
</plist>
